.banner {
    width: 100%;
    height: 30rem;
    overflow: hidden;
    background-color: $blue;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
    position: relative;

    @include breakpoint-down(small) {
        height: 25rem;
    }

    &__title {
        text-align: center;
        font-size: 2rem;
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 1rem;
        color: $black;
        font-weight: bold;

        @include breakpoint-down(small) {
            font-size: clamp(1.5rem, 5vw, 2rem);
        }
    }

    &__carousel {
        width: 100%;
        height: 100%;
        position: relative;

        > div {
            position: absolute;
            display: flex;
            width: 300%;
            height: 100%;
            transition: right 300ms ease;

            &.one {
                right: -200%;
            }

            &.two {
                right: -100%;
            }

            &.three {
                right: 0%;
            }
        }
    }

    &__item {
        width: 100%;
        height: 70%;
        padding-top: 5rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include breakpoint-down(small) {
            height: 60%;
        }

        > div:nth-child(1) {
            flex: .3;
            font-size: 2rem;
            font-weight: 600;
            color: $lightGrey;

            @include breakpoint-down(medium) {
                font-size: 1.25rem;
                text-align: center;
            }
        }

        > div:nth-child(2) {
            line-height: 2;
            flex: 1;

            > p {
                color: $paragraphColor;

                @include breakpoint-down(medium) {
                    font-size: 0.825rem;
                    line-height: 1.5;
                }

                @include breakpoint-down(small) {
                    font-size: 0.825rem;
                    line-height: 1.15;
                    text-align: center;
                }
            }
        }

        > div:nth-child(3) {
            flex: .1;

            @include breakpoint-down(small) {
                display: flex;
                justify-content: center;
            }

            > a {
                background-color: $white;
                padding: 0.8625rem 3rem;
                cursor: pointer;
                transition: background-color 150ms ease;

                @include breakpoint-down(medium) {
                    padding: 0.5rem 1rem;
                    font-size: 0.825rem;
                }

                &:hover {
                    background-color: $fadedGrey;
                }
            }
        }
    }

    &__count {
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 15px;
        width: 50%;
        transform: translateX(50%);
        gap: 10px;

        > span {
            width: 10px;
            height: 10px;
            background-color: $fadedGrey;
            border-radius: 50%;
            transition: background-color 150ms ease;

            &.active {
                background-color: $grey;
            }
        }
    }

    &__arrows {
        position: absolute;
        top: 0;
        width: 100%;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > i {
            padding: 0 2rem;
            cursor: pointer;
            font-size: 1.5rem;
            color: $fadedGrey;

            &:hover {
                color: $grey;
            }
        }
    }
}