.banner {
    height: max-content;
    background-color: $white;
    width: 100vw;
    display: flex;
    justify-content: center;

    &__content {
        max-width: 50rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        height: max-content;
        min-height: 20rem;
        margin: 2rem;
    }

    &__subtext, &__title {
        color: $black;
    }

    &__title {
        font-size: clamp(1rem, 5vw, 2rem);
        flex: .5;
    }

    &__subtext {
        flex: 1;
        color: $grey;
        font-size: 1rem;
        line-height: 1.5;
    }

    &__btn {
        flex: .5
    }
}