* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    color: $white;
    font-family: 'Catamaran', sans-serif;
    outline: none;
    border: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    font-size: 100%;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.padding {

    &__a {
        &L {
            padding: 2rem;
        }

        &M {
            padding: 1rem;
        }

        &S {
            padding: 0.5rem;
        }
    }

    &__t {
        &L {
            padding-top: 2rem;
        }

        &M {
            padding-top: 1rem;
        }

        &S {
            padding-top: 0.5rem;
        }
    }

    &__b {
        &L {
            padding-bottom: 2rem;
        }

        &M {
            padding-bottom: 1rem;
        }

        &S {
            padding-bottom: 0.5rem;
        }
    }

    &__r {
        &L {
            padding-right: 2rem;
        }

        &M {
            padding-right: 1rem;
        }

        &S {
            padding-right: 0.5em;
        }
    }

    &__l {

        &L {
            padding-left: 2rem;
        }

        &M {
            padding-left: 1rem;
        }

        &S {
            padding-left: 0.5rem;
        }
    }

    &__s {

        &L {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        &M {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        &S {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }

    &__u {

        &L {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        &M {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        &S {
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
    }
}

.container {

    &__L {
        max-width: 150rem;
    }

    &__M {
        max-width: 100rem;
    }

    &__S {
        max-width: 50rem;
    }
}

.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}

.hide-for-tablet {
    @include breakpoint-up(medium) {
        display: none;
    }
}