.sidebar {
    position: absolute;
    height: 100vh;
    width: 100vw;
    transform: scaleX(0);
    transform-origin: right;
    background-color: $white;
    z-index: 999;
    transition: transform 300ms ease;

    &.open {
        transform: scaleX(1);
    }
}